name: CI

on:
  push:
  workflow_dispatch:

jobs:
  docs:
    name: Check docs build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v6
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Upgrade pip
      run: |
        python -m pip install --upgrade pip
    - name: Install requirements
      run: |
        pip install -r requirements.txt
    - name: Generate API source file
      run: |
        cd docs && python generate_api_rst.py
    - name: Download changelog
      run: |
        cd docs && wget https://hg.reportlab.com/hg-public/reportlab/raw-file/tip/CHANGES.md
    - name: Test docs build
      run: |
        python -m sphinx -T -b html -d _build/doctrees -D language=en docs _build/html
